# Visualização dos dados e tratamento

## Bibliotecas

In [125]:
import pandas as pd

## Visualizando e conhecendo o DataFrame

In [126]:
dados = pd.read_csv('dados/scrap.csv', sep=';')
dados.head()

           avaliacao                                              texto
0  1,0 de 5 estrelas            \nO livro chegou bastante 'entortado'\n
1  5,0 de 5 estrelas  \nO livro de Dale Carnegie é um clássico da au...
2  5,0 de 5 estrelas  \nConfesso que sempre tenho um preconceito com...
3  5,0 de 5 estrelas  \nJá tinha lido outro livro do Dale Carnegie a...
4  5,0 de 5 estrelas  \nClássico atemporal publicado pela primeira v...

In [127]:
print(f'O DataFrame possui {dados.shape[0]} linhas e {dados.shape[1]} colunas.')

O DataFrame possui 427 linhas e 2 colunas.

In [128]:
print('Ocorrencia de valor nulo em cada coluna:')
dados.isna().sum()

Ocorrencia de valor nulo em cada coluna:

avaliacao    0
texto        7
dtype: int64

In [129]:
# removendo valores nulo #
dados = dados.dropna(how = 'any') #any - remove a linha inteira que contem ao menos 1 valor nulo
#  #  #  #

In [130]:
print(f'O DataFrame sem dados nulos possui {dados.shape[0]} linhas e {dados.shape[1]} colunas.')

O DataFrame sem dados nulos possui 420 linhas e 2 colunas.

In [131]:
# transformando dados #

# removendo o \n da coluna 'texto' #
dados['texto'] = dados['texto'].map(lambda x: str(x).replace('\n', ''))

# removendo ",0 de 5 estrelas" dos valores da coluna 'avaliacao' #
dados['avaliacao'] = dados['avaliacao'].map(lambda x: str(x).replace(',0 de 5 estrelas', '',))

# transformando 'avaliacao' em numeros inteiros #
dados['avaliacao'] = dados['avaliacao'].astype(int)

# adicionando coluna 'sentimento' #
df = pd.DataFrame(dados,columns=['avaliacao','texto','sentimento'])

# substituindo valores nulos por sentimentos #
#(<3) = insatisfação, (3) = neutro, (>3) = satisfação
df.loc[df.avaliacao < 3,'sentimento']='insatisfação'
df.loc[df.avaliacao == 3,'sentimento']='neutro'
df.loc[df.avaliacao > 3,'sentimento']='satisfação'

#  #  #  #

In [132]:
df.head()

   avaliacao                                              texto    sentimento
0          1                O livro chegou bastante 'entortado'  insatisfação
1          5  O livro de Dale Carnegie é um clássico da auto...    satisfação
2          5  Confesso que sempre tenho um preconceito com l...    satisfação
3          5  Já tinha lido outro livro do Dale Carnegie ant...    satisfação
4          5  Clássico atemporal publicado pela primeira vez...    satisfação